/* Tribute to Samuel Morse Section background image */
.tribute-morse-bg {
    background-image: url('https://i.pinimg.com/1200x/da/da/45/dada4591860ff7b0ba4a6b85f3ca9d04.jpg');
    background-size: cover;
    background-position: center 5%;
    background-repeat: no-repeat;
}

