<section
  class="w-full flex flex-col items-center bg-[#f4f1ea] py-8 overflow-hidden"
>
  <div class="w-full max-w-7xl px-4 md:px-6">
    <!-- Our Intention -->
    <section data-aos="fade-up" class="py-16 text-[#3e3020] font-body">
      <h2 class="text-3xl font-heading text-center mb-10">Our Intention</h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-base font-medium text-center"
      >
        <div class="bg-[#c3b27a] rounded-xl shadow-lg p-6 space-y-4">
          <p>
            Teach Morse code sending and reception through interactive methods
          </p>
        </div>
        <div class="bg-[#c3b27a] rounded-xl shadow-lg p-6 space-y-4">
          <p>
            Enable members to communicate using Morse code over the internet
            without Morse key, radio, etc.
          </p>
        </div>
        <div class="bg-[#c3b27a] rounded-xl shadow-lg p-6 space-y-4">
          <p>
            Act as a global forum of Morse enthusiasts to revive this forgotten
            classic skill
          </p>
        </div>
        <div class="bg-[#c3b27a] rounded-xl shadow-lg p-6 space-y-4">
          <p>Prepare members for MMD signal exam and HAM exams</p>
        </div>
      </div>

      <!-- CTA -->
      <!-- <div class="mt-12 w-full bg-[#c3b27a] rounded-xl p-8 text-center">
        <p class="text-xl font-heading mb-2">
          Are you fascinated by Morse code?
        </p>
        <p class="w-full mx-auto text-center text-[#2f2f2f]">
          <span class="font-heading">Morse Monk</span> is your go-to digital
          mentor! Join the movement and help keep this historic language alive
          in the <strong>21<sup>st</sup> century</strong>.
        </p>
        <button
          class="mt-4 inline-flex items-center px-6 py-2 bg-[#3e3020] text-white rounded-full font-medium hover:bg-[#2e2519] transition"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
          Be part of the legacy!
        </button>
      </div> -->
    </section>

    <!-- Why Learn Morse Code -->
    <section
      data-aos="fade-up"
      class="py-16 text-[#3e3020] font-body text-center"
    >
      <h2 class="text-3xl font-heading mb-10">Why Learn Morse Code?</h2>
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 text-lg font-medium max-w-5xl mx-auto"
      >
        <li class="bg-[#f4f0e3] rounded-xl p-6 shadow">
          Helps to pass Ham Radio License Exams
        </li>
        <li class="bg-[#f4f0e3] rounded-xl p-6 shadow">
          Helps to pass MMD Signal Exams
        </li>
        <li class="bg-[#f4f0e3] rounded-xl p-6 shadow">
          Sharpens mental focus & pattern recognition
        </li>
        <li class="bg-[#f4f0e3] rounded-xl p-6 shadow">
          Connect with global Morse enthusiasts
        </li>
        <li class="bg-[#f4f0e3] rounded-xl p-6 shadow">
          Honoring maritime radio legacy
        </li>
      </ul>
    </section>

    <!-- Booking Guide -->
    <section
      data-aos="fade-up"
      class="bg-white p-8 rounded-xl shadow-md text-[#3e3020] font-body"
    >
      <h2 class="text-2xl font-heading mb-6 text-center">
        How do I book for classes?
      </h2>
      <ol class="list-decimal list-inside space-y-3 text-lg max-w-3xl mx-auto">
        <li>Enrol for class</li>
        <li>
          Receive a confirmation mail from us with suggested dates from which
          you can choose
        </li>
        <li>
          Pay <strong>$40</strong> (International) or
          <strong>Rs.2500</strong> (Indian)
        </li>
        <li>Receive notifications (email, WhatsApp) before each class</li>
        <li>30 days class (1 hour each) for Morse reception (Audio)</li>
        <li>10 days MMD Signal exam practice for <strong>Rs.1500</strong></li>
        <li>
          Additional 10 days sending practice –
          <span class="text-green-700 font-semibold">Free</span>
        </li>
      </ol>
      <div class="w-full flex justify-center items-center mt-3">
        <button
          (click)="navigateTo('/enroll-class')"
          class="py-2 px-6 inline-flex items-center gap-x-4 text-base font-semibold rounded-lg border border-[#3e3020] bg-[#3e3020] text-white hover:bg-[#2c2416]"
        >
          Enrol Now
          <svg
            class="w-5 h-5 ml-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </button>
      </div>
    </section>

    <!-- Who We Are -->
    <section
      class="relative w-full bg-[#f4f1ea] text-[#3e3020] font-body py-16 px-6 overflow-hidden my-10"
    >
      <!-- Background Image -->
      <div class="absolute inset-0 z-0">
        <img
          src="/ship-radio.jpg"
          alt="Ship Radio Station"
          class="w-full h-full object-cover opacity-40"
        />
      </div>

      <!-- Content -->
      <div
        data-aos="fade-up"
        class="relative z-10 max-w-full mx-auto text-center"
      >
        <h2 class="text-3xl font-heading mb-6">Who We Are</h2>
        <p class="text-lg mb-4 max-w-full mx-auto leading-relaxed">
          <span class="font-heading text-xl">Morse Monk</span> is a digital
          initiative committed to preserving and reviving the art of Morse code.
          We believe in teaching this timeless communication form through
          modern, accessible methods.
        </p>
        <p class="text-lg max-w-full mx-auto leading-relaxed">
          The movement is led by
          <strong class="font-heading">Tojan Joseph</strong>, an Ex-Marine Radio
          Communication Officer with over 30 years of experience at sea, whose
          passion for Morse code inspired the creation of this platform.
        </p>
      </div>
    </section>
    <!-- Subscribe as Member -->
    <section
      data-aos="fade-up"
      class="mt-12 bg-[#f4f0e3] p-8 rounded-xl shadow-md text-[#3e3020] font-body text-center"
    >
      <h2 class="text-2xl font-heading mb-4">
        Subscribe – Become a Morse Integrator Member
      </h2>
      <p class="text-xl mb-4">
        This subscription allows you to communicate using Morse code through
        internet without morse key, radio etc. – a feature created by
        <strong>Morse Monk</strong>.
      </p>
      <ul
        class="list-disc list-inside max-w-2xl mx-auto text-left mb-6 text-lg"
      >
        <li>Become a <strong>Morse Integrator</strong> member</li>
        <li>Subscribe for <strong>3 months / 6 months / 1 year</strong></li>
        <li>
          Use the Morse Integrator platform to send morse code messages via
          email, whatsapp etc
        </li>
      </ul>
      <button
        (click)="navigateTo('/morse-integrator')"
        class="py-2 px-6 inline-flex items-center gap-x-2 text-base font-semibold rounded-lg border border-[#3e3020] bg-[#3e3020] text-white hover:bg-[#2c2416]"
      >
        Become a Morse Integrator Member
        <svg
          class="w-5 h-5 ml-2"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </section>

    <!-- Tribute to Samuel Morse -->
    <section
      class="relative flex flex-col mt-16 bg-white items-center justify-center overflow-hidden rounded-xl shadow-md h-96"
    >
      <div class="absolute inset-0 z-0">
        <img
          src="/samuel.jpeg"
          alt="Samuel Morse"
          class="w-full h-full object-cover opacity-80"
        />
        <div class="absolute inset-0 bg-white bg-opacity-10"></div>
      </div>
      <div
        data-aos="fade-up"
        class="relative z-10 p-8 text-center text-[#3e3020] font-body"
      >
        <h2 class="text-2xl font-heading mb-6">Tribute to Samuel Morse</h2>
        <p>
          <strong>Samuel Morse </strong> was an American inventor and painter,
          best known for developing the <strong>Morse code</strong> and
          advancing telegraphy, a system of dots and dashes representing letters
          and numbers. This simple yet powerful code allowed for rapid
          transmission of messages over telegraph lines. Morse code became a
          global standard, revolutionizing communication in military, maritime,
          and emergency settings. Samuel Morse's legacy lives on as a pioneer
          who connected the world through coded signals.
        </p>
      </div>
    </section>
  </div>
</section>
